@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  /* background-color: #737b7d */
}

body {
  /* background-image: linear-gradient(to right bottom, #2c698d, #5a82a2, #809cb7, #a5b7cc, #c9d3e1, #ccd6e2, #cfdae4, #d3dde5, #b6c8d1, #98b4bc, #7ba0a6, #608d8d); */
  /* background-image: url("/src/components/assets/pictures/gradient.jpeg"); */

  background: hsla(197, 14%, 57%, 1);

  background: linear-gradient(
    90deg,
    hsla(197, 14%, 57%, 1) 0%,
    hsla(192, 17%, 94%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(197, 14%, 57%, 1) 0%,
    hsla(192, 17%, 94%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 14%, 57%, 1) 0%,
    hsla(192, 17%, 94%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8399A2", endColorstr="#EEF2F3", GradientType=1 );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navTab {
  margin-bottom: 50px;
}

.noActive:visited,
.noActive:link,
.noActive:active {

  color: black;
}
.noActive:focus {
  background: #2c698d40;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.svgContainer {
  display: flex;
  gap: 1em;
}
.linkedin,
.github {
  color: black;
}
.linkedin svg:hover {
  fill: #2c698d;
}

.skillsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;
  flex-direction: column;
}
.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
  /* background: rgb(225, 222, 222); */
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  gap: 0.25em;
  padding: 1.2em;
}
.skillsHeader {
  justify-content: center;
  text-decoration: underline;
}

.github svg:hover {
  fill: #2c698d;
  text-decoration: none;
}
/* footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
  min-height: 100vh;
} */

.projectsDiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
  align-content:center;
  gap: 2em;
}
.projectContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 10%;
}
.projectsHeader {
  display: flex;
  justify-content: center;
  padding: 1em;
  text-decoration: underline;
}
.cardsContainer {
  display: flex;
  justify-content: center;
}

.jsContainer,
.htmlContainer,
.bulmaContainer,
.nodeContainer,
.cssContainer,
.reactContainer,
.muiContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.aboutSection {
  padding: 7em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  max-height: 300px;
  align-items: center;
  flex-wrap: wrap;
}
.imgCapture {
  border-radius: 50%;
  max-height: 300px;
}
.aboutTextContainer {
  max-width: 75%;
  padding: 1rem;
  min-width: 200px;
}

.homeTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 200px;
}

.homeText {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  color: rgba(8, 8, 8, 0.7);
  margin: auto;
}

@keyframes typeText {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 26.6em;
  }
}

@keyframes blinkingCarrot {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.homeText {
  overflow: hidden;
  white-space: nowrap;
  animation: typeText;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(48, end);
  animation-iteration-count: infinite;
}

.homeText::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: blinkingCarrot infinite;
  animation-duration: 0.9s;
  animation-timing-function: steps(1, end);
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: static;
  bottom: 0;
  margin-top: 60%;
  padding: 0;
}

@media only screen and (max-width: 1500px) {
  .aboutSection {
    padding: 7em;
    display: flex;
    justify-content: center;
    gap: 1em;
    max-height: 400px;
    align-items: center;
    
    flex-wrap: wrap;
  }
  
}

@media only screen and (max-width: 380px) {
  .aboutSection {
    display: flex;
    justify-content: center;
    max-height: 400px;
    max-width: 85%;
    align-items: center;
    flex-wrap: wrap;
  }
  .aboutTextContainer {
    max-width: 75%;
    min-width: 200px;
  }
}
